<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-2" href="#">Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2 active"> <a class="nav-link pointer">Users</a></li>
        <li class="nav-item ml-2"><a class="nav-link pointer" [routerLink]="['log']">Logs</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['role']">Roles</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['channel']">Channel</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['config']">Configurations</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-dark" (click)="utils.logout()">Log out</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="form-row mt-3">
    <div class="col-sm-10 col-md-11 mb-11">
      <label>Keyword</label>
      <input type="text" class="form-control" [(ngModel)]="keyword" (keyup.enter)="loadUsers(0)">
    </div>
    <div class="col-sm-2 col-md-1 mb-1">
      <label></label>
      <div class="input-group">
        <button class="btn btn-outline-secondary btn-block mt-2" type="button" (click)="loadUsers(0)">Search</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loadingUsers" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!loadingUsers" class="container">
  <div class="row">
    <div class="col mt-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Nickname</th>
            <th scope="col">Apex ID</th>
            <th scope="col">Birthday</th>
            <th scope="col">Boost</th>
            <th scope="col">Minutes</th>
            <th scope="col">Joined Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList;" class="pointer" (click)="onUserClick(user)">
            <th scope="row"> {{ user.name }}<span class="d-none">{{ user.id }}</span></th>
            <td> {{ user.nickname }} </td>
            <td> {{ user.apexId }} </td>
            <td> {{ user.birthday }} </td>
            <td><div *ngIf="user.boostedDate != null"><img class="ml-4" src="https://pbs.twimg.com/media/EWdeUeHXkAQgJh7.png" height="20" width="20" /></div></td>
            <td> {{ user.voiceMinutes }} </td>
            <td> {{ utils.getCreatedTime(user.joinedDate) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 mt-4">
      <p class="ml-2">Showing {{totalUsers == 0 ? '0' : currentPage * resultPerPage + 1}} - {{math.min((currentPage + 1) * resultPerPage, totalUsers)}} of {{totalUsers}} results</p>
    </div>
    <div class="col-sm-12 col-md-9 mt-4">
      <div class="btn-toolbar mb-3 pull-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-outline-secondary" (click)="loadUsers(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUsers(currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary">{{ currentPage + 1 }}</button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUsers(currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUsers(totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #userModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedUser.name }}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div *ngIf="formError != ''" class="alert alert-danger" role="alert">{{formError}}</div> -->
    <div class="row">
      <div class="col">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4"><b>Email</b></label>
              <p>Something</p>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <!-- <label for="basic-url" *ngIf="borrowEquipment.borrower == null">Your name <span style="color:red">*</span></label>
          <div class="input-group mb-3" *ngIf="borrowEquipment.borrower == null">
            <input type="text" class="form-control" [value]="newBorrowerLog.name" (input)="newBorrowerLog.name = $event.target.value">
          </div>
          <label for="basic-url" [ngClass]="borrowEquipment.borrower == null ? 'mb-0' : ''">Your UT EID <span style="color:red">*</span></label>
          <p *ngIf="borrowEquipment.borrower == null"><small><mark>You will need to enter your EID when you return this equipment.</mark></small></p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="newBorrowerLog.utEid" (input)="newBorrowerLog.utEid = $event.target.value">
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" [disabled]="borrowingEquipment" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-ut" [disabled]="borrowingEquipment" (click)="onBorrow()">
      <i class="fa fa-refresh fa-spin mr-2" *ngIf=borrowingEquipment></i>{{ borrowEquipment.borrower == null ? 'Borrow' : 'Return'}}
    </button> -->
  </div>
</ng-template>
