<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-2" href="#">Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2 active"><a class="nav-link pointer">Logs</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['user']">Users</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['role']">Roles</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['channel']">Channel</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['config']">Configurations</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-dark" (click)="utils.logout()">Log out</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="form-row mt-3">
    <div class="col-sm-12 col-md-5 mb-3">
      <label>Keyword</label>
      <input type="text" class="form-control" [(ngModel)]="keyword" (keyup.enter)="loadUserLogs(0)">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
      <label>From date</label>
      <input type="text" class="form-control" ngbDatepicker #df="ngbDatepicker" (click)="df.toggle()" [(ngModel)]="fromDate" (ngModelChange)="loadUserLogs(0)">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
      <label>To date</label>
      <input type="text" class="form-control" ngbDatepicker #dt="ngbDatepicker" (click)="dt.toggle()" [(ngModel)]="toDate" (ngModelChange)="loadUserLogs(0)">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
      <label for="validationCustom02">Action type</label>
      <div class="input-group">
        <button class="btn btn-outline-secondary btn-block dropdown-toggle text-capitalize" type="button" data-toggle="dropdown">{{ action == '' ? 'all' : action}}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item pointer" (click)="onActionSelected('')">All</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="onActionSelected('JOIN')">Join</a>
          <a class="dropdown-item pointer" (click)="onActionSelected('LEAVE')">Leave</a>
          <a class="dropdown-item pointer" (click)="onActionSelected('BOOST')">Boost</a>
          <a class="dropdown-item pointer" (click)="onActionSelected('UN_BOOST')">UnBoost</a>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-1 mb-3">
      <label></label>
      <div class="input-group">
        <button class="btn btn-outline-secondary btn-block mt-2" type="button" (click)="loadUserLogs(0)">Search</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loadingUserLogs" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!loadingUserLogs" class="container">
  <div class="row">
    <div class="col mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Nickname</th>
            <th scope="col">Action</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userLog of userLogList;">
            <th scope="row"> {{ userLog.name }} </th>
            <th scope="row"> {{ userLog.nickname }} </th>
            <td> {{ utils.getType(userLog.action) }} </td>
            <td> {{ utils.getCreatedTime(userLog.created) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 mt-4">
      <p class="ml-2">Showing {{totalLogs == 0 ? '0' : currentPage * resultPerPage + 1}} - {{math.min((currentPage + 1) * resultPerPage, totalLogs)}} of {{totalLogs}} results</p>
    </div>
    <div class="col-sm-12 col-md-9 mt-4">
      <div class="btn-toolbar mb-3 pull-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-outline-secondary" (click)="loadUserLogs(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUserLogs(currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary">{{ currentPage + 1 }}</button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUserLogs(currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadUserLogs(totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
