<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-2" href="#">Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{'active': tab == 'logs'}">
          <a class="nav-link pointer" (click)="onTabSelected('logs')">User logs</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': tab == 'config'}">
          <a class="nav-link pointer" (click)="onTabSelected('config')">Bot configuration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="loadingUserLogs || loadingUserLogs || loadingBotConfig || loadingChannels || loadingRoles" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="tab == 'logs' && !loadingUserLogs" class="container">
  <div class="row">
    <div class="col mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User display name</th>
            <th scope="col">Action</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" *ngFor="let userLog of userLogList;">
            <th scope="row"> {{ userLog.name }} </th>
            <td> {{ utils.getType(userLog.action) }} </td>
            <td> {{ utils.getCreatedTime(userLog.created) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="tab == 'config' && !loadingUserLogs && !loadingBotConfig && !loadingChannels && !loadingRoles" class="container">
  <div class="row">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5 class="header-text pt-2">Welcome message</h5>
            </div>
            <div class="col-3">
              <label class="switch pull-right">
                <input type="checkbox" [(ngModel)]="guildConfig.welcomeEnabled">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div>
            <div class="form-group mt-2">
              <label>Title</label>
              <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeTitle">
            </div>
          </div>
          <div>
            <div class="form-group mt-2">
              <label>Description</label>
              <textarea class="form-control" rows="10" [(ngModel)]="guildConfig.welcomeDescription"></textarea>
            </div>
          </div>
          <div>
            <div class="form-group mt-2">
              <label>Thumbnail Url</label>
              <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeThumbnail">
            </div>
          </div>
          <div>
            <div class="form-group mt-2">
              <label>Footer</label>
              <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeFooter">
            </div>
          </div>
          <div>
            <div class="form-group mt-2">
              <label>Announcement channel and role to assign</label>
              <div class="row">
                <div class="col-sm-12 col-md-8 form-inline">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedChannelName}}</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item pointer" *ngFor="let channel of guildChannelList;" (click)="onChannelSelected(channel)">{{channel.name}}</a>
                    </div>
                  </div>
    
                  <div class="dropdown ml-3">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedRoleName}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item pointer" *ngFor="let role of guildRoleList;" (click)="onRoleSelected(role)">{{role.name}}</a>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-none d-sm-block">
                  <button type="button" class="btn btn-primary pull-right" [disabled]="updatingConfig" (click)="onSaveCahnges()">
                    <i class="fa fa-refresh fa-spin mr-2" *ngIf=updatingConfig></i>Save changes
                  </button>
                </div>
                <div class="col-12 d-block d-sm-none">
                  <button type="button" class="btn btn-primary btn-block mt-2" [disabled]="updatingConfig" (click)="onSaveCahnges()">
                    <i class="fa fa-refresh fa-spin mr-2" *ngIf=updatingConfig></i>Save changes
                  </button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>