<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container shows-up">
    <a class="navbar-brand" href="#">Document</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': tab == 'document'}" [routerLink]="'/document'">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': tab == 'manage'}" [routerLink]="'/document/manage'">Manage</a>
        </li>
      </ul>
      <form *ngIf="tab == 'manage'" class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-success" [disabled]="loading" (click)="showDocumentModal(undefined)">Add</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div *ngIf="loading" class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="!loading" class="row">

    <div class="col-12" *ngFor="let d of documentList" (click)="showDocumentDetailsModal(d)" [ngClass]="{'pointer': tab == 'document'}">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-4" style="height: 120px;overflow:hidden">
            <img src="{{ getImagePreviewUrl(d.images) }}" class="img-fluid rounded-start">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{ d.name }}</h5>
              <p class="card-text mb-0">{{ d.owner }}</p>
              <p class="card-text"><small class="text-muted">{{ d.expirationDate }}</small></p>
              <div *ngIf="tab=='manage'">
                <button type="button" class="btn btn-secondary" (click)="showDocumentModal(d)">Edit</button>
                <button type="button" class="btn btn-danger ms-2" (click)="showDocumentDeleteModal(d)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Document</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label>Document name</label>
                <input type="text" class="form-control" [(ngModel)]="selectedDocument.name" name="name" placeholder="Name of the document">
              </div>
              <div class="form-group">
                <label>Owner name</label>
                <input type="text" class="form-control" [(ngModel)]="selectedDocument.owner" name="owner" placeholder="The owner of the document">
              </div>
              <div class="form-group">
                <label>Expiration date</label>
                <input type="text" class="form-control" [(ngModel)]="expirationDate" name="expDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
              </div>
              <div class="form-group">
                <label>Images</label>
                <div class="row">
                  <div class="col-3" *ngFor="let image of selectedDocument.images;">
                    <div class="card mt-2">
                      <button type="button" class="btn btn-danger img-delete" (click)="removeImage(image)"><i class="fa fa-times" aria-hidden="true"></i></button>
                      <img class="card-img-top img-preview" src="{{ getImageUrl(image) }}">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center img-preview dotted-border mt-2 pointer" (click)="fileSelect.click()">
                      <img class="mt-2" src="{{'/assets/plus.png'}}" height="45px" width="45px">
                      <p class="lead" style="font-size: 1.5rem;">Select</p>
                    </div>
                    
                    <input type="file" class="d-none" multiple="multiple" #fileSelect (change)="onImagesSelected($event)">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="loading" (click)="saveDocument()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="documentDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">{{ selectedDocument.name }}</h4>
          <p class="card-text">{{ selectedDocument.owner }}<small class="text-muted ms-2" *ngIf="selectedDocument.expirationDate">{{ selectedDocument.expirationDate }}</small></p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 my-1" *ngFor="let image of selectedDocument.images;">
            <img src="{{ getImageUrl(image) }}" class="img-fluid rounded-start">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="documentDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">{{ selectedDocument.name }}</h4>
          <p class="card-text">{{ selectedDocument.owner }}<small class="text-muted ms-2" *ngIf="selectedDocument.expirationDate">{{ selectedDocument.expirationDate }}</small></p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="lead">Are you sure about deleting this document?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteDocument()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

