<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand ml-2" href="#">Discord</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord']">Users</a></li>
            <li class="nav-item ml-2"><a class="nav-link pointer" [routerLink]="['/discord/log']">Logs</a></li>
            <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/role']">Roles</a></li>
            <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/channel']">Channel</a></li>
            <li class="nav-item ml-2 active"><a class="nav-link pointer">Achievement</a></li>
            <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/config']">Configurations</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button type="button" class="btn btn-dark" (click)="utils.logout()">Log out</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div *ngIf="loadingAchievements" class="container">
    <div class="row my-5">
      <div class="col text-center my-5">
        <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  
  <div *ngIf="!loadingAchievements" class="container">
    <div class="row">
      <div class="col mt-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
              <th scope="col">Created Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let achievement of achievements;" class="pointer">
              <th scope="row"> {{ achievement.name }}</th>
              <td> {{ achievement.score }} </td>
              <td> {{ utils.getCreatedTime(achievement.created) }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- <ng-template #userModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedUser.name }}</h4>
      <button *ngIf="!borrowingEquipment" type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="formError != ''" class="alert alert-danger" role="alert">{{formError}}</div>
      <div class="row">
        <div class="col">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4"><b>Email</b></label>
                <p>Something</p>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
            <label for="basic-url" *ngIf="borrowEquipment.borrower == null">Your name <span style="color:red">*</span></label>
            <div class="input-group mb-3" *ngIf="borrowEquipment.borrower == null">
              <input type="text" class="form-control" [value]="newBorrowerLog.name" (input)="newBorrowerLog.name = $event.target.value">
            </div>
            <label for="basic-url" [ngClass]="borrowEquipment.borrower == null ? 'mb-0' : ''">Your UT EID <span style="color:red">*</span></label>
            <p *ngIf="borrowEquipment.borrower == null"><small><mark>You will need to enter your EID when you return this equipment.</mark></small></p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" [value]="newBorrowerLog.utEid" (input)="newBorrowerLog.utEid = $event.target.value">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="borrowingEquipment" (click)="modal.dismiss('Cross click')">Cancel</button>
      <button type="button" class="btn btn-ut" [disabled]="borrowingEquipment" (click)="onBorrow()">
        <i class="fa fa-refresh fa-spin mr-2" *ngIf=borrowingEquipment></i>{{ borrowEquipment.borrower == null ? 'Borrow' : 'Return'}}
      </button>
    </div>
  </ng-template> -->
