<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-2" href="#">Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord']">Users</a></li>
        <li class="nav-item ml-2"><a class="nav-link pointer" [routerLink]="['/discord/log']">Logs</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/role']">Roles</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/channel']">Channel</a></li>
        <li class="nav-item ml-2 active"> <a class="nav-link pointer">Configurations</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-dark" (click)="utils.logout()">Log out</button>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="loadingBotConfig || loadingCategories || loadingChannels || loadingRoles" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!loadingBotConfig && !loadingCategories && !loadingChannels && !loadingRoles" class="container">
  <div class="row">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5 class="header-text pt-2">Welcome message</h5>
            </div>
            <div class="col-3">
              <label class="switch pull-right">
                <input type="checkbox" [(ngModel)]="guildConfig.welcomeEnabled">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group mt-2">
            <label>Title</label>
            <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeTitle">
          </div>
          <div class="form-group mt-2">
            <label>Description</label>
            <textarea class="form-control" rows="5" [(ngModel)]="guildConfig.welcomeDescription"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mt-2">
              <label>Footer</label>
              <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeFooter">
            </div>
            <div class="form-group col-md-6 mt-2">
              <label>Thumbnail Url</label>
              <input type="text" class="form-control" [(ngModel)]="guildConfig.welcomeThumbnail">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mt-2">
              <label>Channel to announce</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedWelcomeChannelName}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" *ngFor="let channel of guildChannelList;" (click)="onWelcomeChannelSelected(channel)">{{channel.name}}</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-2">
              <label>Role to assign</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedWelcomeRoleName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item pointer" *ngFor="let role of guildRoleList;" (click)="onWelcomeRoleSelected(role)">{{role.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5 class="header-text pt-2">Roles</h5>
            </div>
            <div class="col-3">
              <label class="switch pull-right">
                <input type="checkbox" [(ngModel)]="guildConfig.roleEnabled">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col mt-2">
              <label>Level role's level requirement</label>
              <input type="number" min="1" class="form-control" [(ngModel)]="guildConfig.roleLevelRequirement">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mt-2">
              <label>Level role location (New role will be placed before this role)</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedLevelRankRoleName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item pointer" *ngFor="let role of guildRoleList;" (click)="onLevelRankRoleSelected(role)">{{role.name}}</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-2">
              <label>Boost role location (New role will be placed before this role)</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedBoostRankRoleName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item pointer" *ngFor="let role of guildRoleList;" (click)="onBoostRankRoleSelected(role)">{{role.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5 class="header-text pt-2">Channels</h5>
            </div>
            <div class="col-3">
              <label class="switch pull-right">
                <input type="checkbox" [(ngModel)]="guildConfig.channelEnabled">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-4 mt-2">
              <label>Temporary channel location</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedTempCategoryName}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" *ngFor="let category of guildCategoryList;" (click)="onTempCategorySelected(category)">{{category.name}}</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 mt-2">
              <label>Boost channel location</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedBoostCategoryName}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" *ngFor="let category of guildCategoryList;" (click)="onBoostCategorySelected(category)">{{category.name}}</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 mt-2">
              <label>Error log channel</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedDebugChannelName}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" *ngFor="let category of guildCategoryList;" (click)="onDebugChannelSelected(category)">{{category.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5 class="header-text pt-2">Role and channel black list</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6 mt-2">
              <label>Name blacklist(Cannot include any of these keywords)</label>
              <input type="text" class="form-control mb-2" [(ngModel)]="forbiddenRoleName" (keydown.enter)="addForbiddenRoleName()">
              <span *ngFor="let roleName of roleNameBlacklist;"  class="badge badge-pill badge-primary mr-2 mt-2">
                <span class="h6 ml-2 mr-1">{{ roleName }}</span>
                <i class="fa fa-lg fa-times-circle-o pointer ml-1 my-2" (click)="removeForbiddenRoleName(roleName)"></i>
              </span>
            </div>
            <div class="form-group col-md-6 mt-2">
              <label>Color blacklist(Cannot be exactly the same)</label>
              <input type="text" class="form-control mb-2" [(ngModel)]="forbiddenRoleColor" (keydown.enter)="addForbiddenRoleColor()">
              <span *ngFor="let roleColor of roleColorBlacklist;"  class="badge badge-pill badge-primary mr-2 mt-2">
                <span class="h6 ml-2 mr-1">{{ roleColor }}</span>
                <i class="fa fa-lg fa-times-circle-o pointer ml-1 my-2" (click)="removeForbiddenRoleColor(roleColor)"></i>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5 class="header-text pt-2">Birthday blessing</h5>
            </div>
            <div class="col-3">
              <label class="switch pull-right">
                <input type="checkbox" [(ngModel)]="guildConfig.birthdayEnabled">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group mt-2">
            <label>Blessings</label>
            <textarea class="form-control" rows="10x" [(ngModel)]="guildConfig.birthdayMessage"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mt-2">
              <label>Channel to announce</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedBirthdayChannelName}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" *ngFor="let channel of guildChannelList;" (click)="onBirthdayChannelSelected(channel)">{{channel.name}}</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 mt-2">
              <label>Role to assign</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{selectedBirthdayRoleName}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item pointer" *ngFor="let role of guildRoleList;" (click)="onBirthdayRoleSelected(role)">{{role.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row my-5 py-3"></div>

  <div class="fixed-bottom">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <button type="button" class="btn btn-primary pull-right ml-2" [disabled]="updatingConfig" (click)="onSaveChanges()"><i class="fa fa-refresh fa-spin mr-2" *ngIf=updatingConfig></i>Save changes</button>
              <button type="button" class="btn btn-secondary pull-right" [disabled]="updatingConfig" (click)="loadBotConfig()"><i class="fa fa-refresh fa-spin mr-2" *ngIf=updatingConfig></i>Discard changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>