<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand ml-2" href="#">Images</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" [ngClass]="mode == 'all' ? 'active' : ''">
            <a class="nav-link pointer" (click)="modeChanged('all')">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category: {{ getCategory(category) }} 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="categoryChanged(newCategory)" *ngFor="let newCategory of categories;"> {{ newCategory }}</a>
            </div>
          </li>
          <li class="nav-item" [ngClass]="mode == 'flagged' ? 'active' : ''">
            <a class="nav-link pointer" (click)="modeChanged('flagged')">Flagged</a>
          </li>
          <li class="nav-item" [ngClass]="mode == 'ranked' ? 'active' : ''">
            <a class="nav-link pointer" (click)="modeChanged('ranked')">Ranked</a>
          </li>
          <li class="nav-item" [ngClass]="mode == 'saved' ? 'active' : ''">
            <a class="nav-link pointer" (click)="modeChanged('saved')">Saved</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link disabled" href="#">Remaining: {{ remainingPosts }} </a>
          </li>
        </ul>
      </div>

      <button class="btn btn-outline-success my-2 my-sm-0" (click)="reloadBtnClicked()">{{ reloadBtnText }}</button>
  </div>
</nav>
<div [hidden]="showingIFrame" class="container-fluid mt-2">

  <div class="card mt-4" *ngFor="let post of posts;">
    <div class="card-header" [style.background-color]="post.rank > 0 || post.flagged ? '#00AA9E' : '#FFFFFF'">
      <h4 class="my-0">{{ post.title }}</h4>
      <span class="badge badge-secondary">Catigory: {{ getCategory(post.category) }}</span>
      <span class="badge ml-2 badge-secondary">{{ getCreatedTime(post.created) }}</span>
      <span class="badge ml-2" [ngClass]="getRankTheme(post.rank)">Rank: {{ getRankName(post.rank) }}</span>
      <span class="badge ml-2" [ngClass]="post.flagged ? 'badge-danger' : 'badge-secondary'">{{ post.flagged ? 'Flagged' : 'No flag' }}</span>
      <a class="ml-3" target="_blank" href="{{ post.attachment }}">Torrent</a>
      <a class="ml-3" target="_blank" href="{{ post.url }}">View Original</a>
      <button *ngIf="!post.saved" type="button" class="btn btn-link pt-1" (click)="saveBtnClicked(post)">Save</button>
    </div>
    <div class="card-body">
      <div *ngIf="post.imageNames.length > 0" class="row">
        <div class="col-xl-2 col-lg-4 col-md-12 mt-2 img-container" *ngFor="let imgName of post.imageNames;">
          <img class="aspect-fill" [src]="'98.156.161.67:8080/tools/images/' + post.id + '/' + imgName"
          (click)="openPreview('98.156.161.67:8080/tools/images/' + post.id + '/' + imgName)">
        </div>
      </div>
      <div *ngIf="post.imageNames.length == 0" class="row">
        <div class="col-xl-2 col-lg-4 col-md-12 mt-2 img-container" *ngFor="let imgUrl of post.imageUrls;">
          <img class="aspect-fill" src="{{ imgUrl }}"
          (click)="openPreview(imgUrl)">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!loadingNextPage && (posts == null || posts.length == 0)" class="col-12 text-center mt-4">
      <p class="lead">
        No more posts found
      </p>
    </div>
    <div class="col-12 text-center my-4">
      <button type="button" class="btn btn-primary" (click)="nextBtnClicked()" [disabled]="loadingNextPage">
        {{ loadingNextPage ? 'Loading' : 'Next Page' }}
      </button>
    </div>
  </div>

</div>

<div *ngIf="showingIFrame" class="container-fluid mt-2">
  <div class="row mt-4 justify-content-center">
    <div class="col-4 mt-4">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<button id="s8ShowPreviewButton" [hidden]="true" data-toggle="modal" data-target="#s8ImgPreview"></button>
<button id="s8HidePreviewButton" [hidden]="true" data-toggle="modal" data-target="#s8ImgPreview" data-dismiss="modal"></button>
<div id="s8ImgPreview" class="modal fade bd-example-modal-xl">
  <div class="modal-dialog modal-xl" (click)="closePreview()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  
	  <div class="modal-body">
      <img class="aspect-fill" [src]="previewedImgSrc">
	  </div>
	  
    </div>
  </div>
</div>
  