<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container shows-up">
    <a class="navbar-brand" href="#">Spending</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': tab == 'reports'}">
          <a class="nav-link pointer" (click)="showTab('reports')">Reports</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': tab == 'manage'}">
          <a class="nav-link pointer" (click)="showTab('manage')">Manage</a>
        </li>
      </ul>
      <form *ngIf="tab == 'manage'" class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-success" [disabled]="loading" (click)="showAccountModal(null)">Add</button>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="tab == 'reports'" class="container">
  <div class="row">
    11111
  </div>
</div>

<div *ngIf="tab == 'manage'" class="container">

  <div *ngIf="loading" class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-3" *ngFor="let account of accountList;">
      <div class="card mt-4">
        <img class="card-img-top img-preview" src="{{account.icon}}">
        <div class="card-body">
          <p class="lead" style="font-weight: 500;">{{account.name}}</p>
          <p class="card-text mb-0"><i class="fa fa-credit-card mr-1" aria-hidden="true"></i>**** {{account.identifier}}</p>
          <p class="card-text"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>{{account.owner}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [disabled]="loading" (click)="showTransactionUploadModal(account)">Add Transactions</button>
          <button type="button" class="btn btn-secondary" [disabled]="loading"(click)="showAccountModal(account)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #accountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Account</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" [disabled]="loading">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <label>Account name</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAccount.name" name="name" placeholder="Chase Sapphire Preferred">
          </div>
          <div class="form-group">
            <label>Identifier</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAccount.identifier" name="identifier" placeholder="Last 4 digit of the account number">
          </div>
          <div class="form-group">
            <label>Icon</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAccount.icon" name="icon" placeholder="Url of the account">
          </div>
          <div class="form-group">
            <label>Owner</label>
            <input type="text" class="form-control" [(ngModel)]="selectedAccount.owner" name="owner" placeholder="Name of the owner">
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="loading" (click)="saveAccount()">Save</button>
    <button type="button" class="btn btn-secondary" [disabled]="loading" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #transactionUploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Upload transactions for {{selectedAccount.name}}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" [disabled]="loading">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!transactionView" class="modal-body">
    <div class="row">
      <div class="col">
        <div class="h-100 pointer" style="width: 100%;" (click)="fileSelect.click()">
          <div class="mx-4 text-center" style="height:30vh;" [ngClass]="{'dotted-border': dragOver}" (drop)="onFilesDropped($event)" (dragover)="onDragOver($event)"
            (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
            <div *ngIf="!dragOver" style="top: 20%; left: 0; right: 0; position: absolute;">
              <img src="{{'/assets/plus.png'}}" height="100px" width="100px">
              <p class="display-4" style="font-size: 2rem;">Click here to select CSV files or drop them here.</p>
            </div>
            <div *ngIf="dragOver" style="top: 50%; left: 0; right: 0; position: absolute;">
              <p class="display-4" style="font-size: 2rem;">Drop CSV files to upload them.</p>
            </div>
          </div>
          
          <input type="file" class="d-none" multiple="multiple" #fileSelect (change)="onFilesSelected($event)">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let f of transactionFiles | keyvalue;">{{f.key}}
            <button type="button" class="btn btn-outline-danger btn-sm pull-right" (click)="transactionFiles.delete(f.key)">Remove</button></li>
        </ul>
      </div>
    </div>
    
  </div>
  <div *ngIf="transactionView" class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions;">
          <th scope="row">{{t.name}}</th>
          <td>{{t.date}}</td>
          <td>{{t.amount}}</td>
          <td [ngClass]="{'text-warning': t.category === 'Unknown'}">{{t.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button *ngIf="transactionView" type="button" class="btn btn-success" [disabled]="loading" (click)="uploadTransactions()">Upload</button>
    <button *ngIf="!transactionView" type="button" class="btn btn-success" [disabled]="loading" (click)="processTransactions()">Process Files</button>
    <button type="button" class="btn btn-secondary" [disabled]="loading" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>
