<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container shows-up">
    <a class="navbar-brand" href="#" [ngClass]="{'btn px-0 disabled': editing}">Recipes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': category=='chinese-wheaten', 'disabled': editing}" [routerLink]="'/recipes/categories/chinese-wheaten'">中式面食</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': category=='chinese', 'disabled': editing}" [routerLink]="'/recipes/categories/chinese'">中餐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': category=='korean', 'disabled': editing}" [routerLink]="'/recipes/categories/korean'">韩餐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': category=='western', 'disabled': editing}" [routerLink]="'/recipes/categories/western'">西餐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" [ngClass]="{'active': category=='other', 'disabled': editing}" [routerLink]="'/recipes/categories/other'">其他</a>
        </li>
      </ul>
      <form *ngIf="category" class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-success" [disabled]="loading" (click)="addRecipe()">Add</button>
      </form>
      <form *ngIf="editing" class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-danger me-2" [disabled]="loading" (click)="cancelRecipe()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="loading" (click)="addRecipe()">Save</button>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="loading" class="container">
  <div class="row my-4">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!loading && category" class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12" *ngFor="let r of recipeList">
      <div class="card mt-3">
        <div class="row g-0 pointer" [routerLink]="'/recipes/' + r.id">
          <div class="thumbnail">
            <img class="fill-img" src="{{r.thumbnail}}" >
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{ r.name }}</h5>
              <p class="card-text"><small class="text-muted">{{getCreatedTime(r.created)}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && recipeId" class="container mt-4">
  <div class="row g-0">
    <div class="thumbnail-title">
      <img class="fill-img" src="{{recipe.thumbnail}}" >
    </div>
    <div class="col">
      <p class="display-6 ms-2">{{ recipe.name }}</p>
      <p class="card-text ms-2">
        <small class="text-muted">Created at {{getCreatedTime(recipe.created)}}</small>
        <button type="button" class="btn btn-link py-0 px-0 ms-2">Edit</button><button type="button" class="btn btn-link text-danger py-0 px-0 ms-2">Delete</button>
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <markdown [data]="recipe.content"></markdown>
    </div>
  </div>
</div>

<div *ngIf="!loading && editing" class="container-fluid mt-4">
  <div class="container">
    <div class="row g-0">
      <div class="thumbnail-title">
        <img *ngIf="recipe.thumbnail" class="fill-img pointer" src="{{recipe.thumbnail}}" (click)="fileSelect.click()" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to change thumbnail">
        <div *ngIf="!recipe.thumbnail" class="text-center dotted-border pointer" (click)="fileSelect.click()">
          <img class="mt-2" src="{{'/assets/plus.png'}}" height="45px" width="45px">
          <p class="lead mb-0" style="font-size: 1.2rem;">Select</p>
        </div>
        
        <input type="file" class="d-none" #fileSelect (change)="onImagesSelected($event)">
      </div>
      <div class="col">
        <form>
          <div class="form-group ms-3">
            <label class="lead">Recipe Title</label>
            <input type="text" class="form-control mt-2" name="name" placeholder="Recipe Title">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" style="height:800px">
      <angular-markdown-editor textareaId="editor1" [options]="editorOptions" name="body">
      </angular-markdown-editor>
    </div>
    <div class="col">
      <div class="card" style="height:700px;overflow: scroll;">
        <div class="card-header">
          Preview
        </div>
        <markdown [data]="recipe.content"></markdown>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="lead">Are you sure about canceling? Unsaved content will be lost.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmCancelRecipe()">Cancel Editing</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
