<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-2 my-3">Tools</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/clipboard'">
          <h1 class="display-4">Clipboard</h1>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/heic'">
            <h1 class="display-4">Heic converter</h1>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/real-estate'">
            <h1 class="display-4">Finance</h1>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/email'">
            <h1 class="display-4">Email</h1>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/image-upload'">
            <h1 class="display-4">Image uploader</h1>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/logs'">
            <h1 class="display-4">Logs</h1>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/document'">
            <h1 class="display-4">Documents</h1>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-3">
      <div class="d-grid">
        <button type="button" class="btn btn-outline-secondary button-height" [routerLink]="'/recipes'">
            <h1 class="display-4">Recipes</h1>
        </button>
      </div>
    </div>
  </div>

</div>