<div class="container my-5">
    <div class="row mt-5">
        <div class="col text-center">
            <h1 class="display-2 my-5">Tools</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/clipboard'">
                <h1 class="display-4">Clipboard</h1>
            </button>
        </div>
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/heic'">
                <h1 class="display-4">Heic converter</h1>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/crl'">
                <h1 class="display-4">UT Crl Lab</h1>
            </button>
        </div>
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/email'">
                <h1 class="display-4">Email</h1>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/image-upload'">
                <h1 class="display-4">Image uploader</h1>
            </button>
        </div>
        <div class="col-md-6 col-sm-12 my-3">
            <button type="button" class="btn btn-outline-secondary btn-block button-height" [routerLink]="'/logs'">
                <h1 class="display-4">Logs</h1>
            </button>
        </div>
    </div>

</div>