<nav class="navbar navbar-dark" style="background-color: #BF5700;">
  <div class="container">
    <a class="navbar-brand">CRL lab</a>

    <form class="form-inline" style="width: 50%;">
      <input class="form-control" style="width: 100%;" type="search" placeholder="Search by equipment name or borrower name" aria-label="Search"
        (input)="onSearchChange($event.target.value)">
    </form>

    <button class="btn btn-outline-light my-2 my-sm-0" (click)="onAddBtnClicked()">Add equipment</button>
  </div>
</nav>