<nav class="navbar navbar-dark navbar-ut">
  <div class="container">
    <a class="navbar-brand">UT CRL lab</a>

    <form class="form-inline" style="width: 50%;">
      <input class="form-control" style="width: 100%;" type="search" placeholder="Search by equipment name or borrower name" aria-label="Search"
        (input)="onSearchChange($event.target.value)">
    </form>

    <button class="btn btn-outline-light my-2 my-sm-0" (click)="onAddBtnClicked()">Add equipment</button>
  </div>
</nav>

<div class="container">
  <div *ngIf="!loadingEquipment" class="row">
    <div class="col mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Serial number</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of equipmentList;">
            <th [hidden]="equipment.isHidden" scope="row"> {{ equipment.name }} </th>
            <td [hidden]="equipment.isHidden"> {{ equipment.serialNumber }} </td>
            <td [hidden]="equipment.isHidden" [ngClass]="equipment.borrower == null ? 'text-success' : 'text-ut'">
              {{ equipment.borrower == null ? 'Available' : 'Borrowed by ' + equipment.borrower }}
            </td>
            <td [hidden]="equipment.isHidden">
              <button type="button" class="btn" [ngClass]="equipment.borrower == null ? 'btn-ut' : 'btn-ut-outline'" (click)="onBorrowBtnClicked(equipment)">
                {{ equipment.borrower == null ? 'Borrow' : 'Return' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="loadingEquipment" class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<ng-template #addEquipmentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add equipment</h4>
    <button *ngIf="!addingEquipment" type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="formError != ''" class="alert alert-danger" role="alert">{{formError}}</div>
    <div class="row">
      <div class="col">
        <form>
          <label for="basic-url">Equipment name <span style="color:red">*</span></label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="newEquipment.name" (input)="newEquipment.name = $event.target.value">
          </div>
          <label for="basic-url">Serial number <span style="color:red">*</span></label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="newEquipment.serialNumber" (input)="newEquipment.serialNumber = $event.target.value">
          </div>
          <label for="basic-url">Description</label>
          <div class="input-group mb-3">
            <textarea class="form-control desc-height" [value]="newEquipment.description" (input)="newEquipment.description = $event.target.value"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="addingEquipment" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-ut" [disabled]="addingEquipment" (click)="onAdd()">
      <i class="fa fa-refresh fa-spin mr-2" *ngIf=addingEquipment></i>Add
    </button>
  </div>
</ng-template>

<ng-template #borrowEquipmentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ borrowEquipment.borrower == null ? 'Borrowing' : 'Returning'}} {{ borrowEquipment.name }}</h4>
    <button *ngIf="!borrowingEquipment" type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="formError != ''" class="alert alert-danger" role="alert">{{formError}}</div>
    <div class="row">
      <div class="col">
        <form>
          <label for="basic-url" *ngIf="borrowEquipment.borrower == null">Your name <span style="color:red">*</span></label>
          <div class="input-group mb-3" *ngIf="borrowEquipment.borrower == null">
            <input type="text" class="form-control" [value]="newBorrowerLog.name" (input)="newBorrowerLog.name = $event.target.value">
          </div>
          <label for="basic-url" [ngClass]="borrowEquipment.borrower == null ? 'mb-0' : ''">Your UT EID <span style="color:red">*</span></label>
          <p *ngIf="borrowEquipment.borrower == null"><small><mark>You will need to enter your EID when you return this equipment.</mark></small></p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [value]="newBorrowerLog.utEid" (input)="newBorrowerLog.utEid = $event.target.value">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [disabled]="borrowingEquipment" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-ut" [disabled]="borrowingEquipment" (click)="onBorrow()">
      <i class="fa fa-refresh fa-spin mr-2" *ngIf=borrowingEquipment></i>{{ borrowEquipment.borrower == null ? 'Borrow' : 'Return'}}
    </button>
  </div>
</ng-template>
