.text-ut {
  color: #BF5700;
}

.navbar-ut {
  background-color: #BF5700;
}

.desc-height {
  height: 150px;
}

.btn-ut,
.btn-ut:active,
.btn-ut:visited,
.btn-ut:focus {
  color: #FFFFFF;
  background-color: #BF5700;
  border-color: #BF5700;
}

.btn-ut:hover {
  color: #FFFFFF;
  background-color: #A14A02;
  border-color: #A14A02;
}

.btn-ut-outline,
.btn-ut-outline:active,
.btn-ut-outline:visited,
.btn-ut-outline:focus {
  color: #BF5700;
  background-color: #FFFFFF;
  border-color: #BF5700;
}

.btn-ut-outline:hover {
  color: #FFFFFF;
  background-color: #BF5700;
  border-color: #BF5700;
}
