<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-2" href="#">Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord']">Users</a></li>
        <li class="nav-item ml-2"><a class="nav-link pointer" [routerLink]="['/discord/log']">Logs</a></li>
        <li class="nav-item ml-2 active"> <a class="nav-link pointer">Roles</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/channel']">Channel</a></li>
        <li class="nav-item ml-2"> <a class="nav-link pointer" [routerLink]="['/discord/config']">Configurations</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-dark" (click)="utils.logout()">Log out</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="form-row mt-3">
    <div class="col-sm-8 col-md-9 mb-9">
      <label>Keyword</label>
      <input type="text" class="form-control" [(ngModel)]="keyword" (keyup.enter)="loadRoles(0)">
    </div>
    <div class="col-sm-2 col-md-2 mb-2">
      <label for="validationCustom02">Role type</label>
      <div class="input-group">
        <button class="btn btn-outline-secondary btn-block dropdown-toggle text-capitalize" type="button" data-toggle="dropdown">{{ type == '' ? 'all' : type}}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item pointer" (click)="onTypeSelected('')">All</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="onTypeSelected('LEVEL')">Level</a>
          <a class="dropdown-item pointer" (click)="onTypeSelected('BOOST')">Boost</a>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-1 mb-1">
      <label></label>
      <div class="input-group">
        <button class="btn btn-outline-secondary btn-block mt-2" type="button" (click)="loadRoles(0)">Search</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loadingRoles" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!loadingRoles" class="container">
  <div class="row">
    <div class="col mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Position</th>
            <th scope="col">Type</th>
            <th scope="col">Owner</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roleList;">
            <th scope="row"> {{ role.name }}<span class="d-none">{{ role.id }}</span> </th>
            <td class="d-flex flex-md-row"> <div style="width: 25px; height: 25px;" [ngStyle]="{'backgroundColor': role.color}"></div><span class="mb-1 ml-2">{{ role.color }}</span></td>
            <td> {{ role.position }} </td>
            <td> {{ utils.getType(role.type) }} </td>
            <td> {{ role.ownerName }} </td>
            <td> {{ utils.getCreatedTime(role.created) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 mt-4">
      <p class="ml-2">Showing {{totalRoles == 0 ? '0' : currentPage * resultPerPage + 1}} - {{math.min((currentPage + 1) * resultPerPage, totalRoles)}} of {{totalRoles}} results</p>
    </div>
    <div class="col-sm-12 col-md-9 mt-4">
      <div class="btn-toolbar mb-3 pull-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-outline-secondary" (click)="loadRoles(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadRoles(currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary">{{ currentPage + 1 }}</button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadRoles(currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="loadRoles(totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
