<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container shows-up">
    <a class="navbar-brand" href="#">Image uploader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': uploader}">
          <a class="nav-link pointer" (click)="onUploadClicked()">Upload new images</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': !uploader}">
          <a class="nav-link pointer" (click)="onBrowseClicked()">History</a>
        </li>
      </ul>
      <form *ngIf="uploader" class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-danger mr-4"  [disabled]="uploading" (click)="onClearClicked()">Clear</button>
        <button type="button" class="btn btn-success" [disabled]="uploading" (click)="onUpload()">Upload</button>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="uploader" class="container">
  <div class="row">
    <div class="col-3" *ngFor="let image of imageList;">
      <div class="card mt-4" [ngClass]="{'shows-up': !dragOver}">
        <img class="card-img-top img-preview" src="{{image.data}}">
        <div class="card-body">
          <div class="input-group text-center">
            <div *ngIf="image.status == 0" class="alert alert-secondary w-100 py-2 mb-0" role="alert">Waiting to be uploaded.</div>
            <div *ngIf="image.status == 1" class="w-100 my-2"><i class="fa fa-refresh fa-spin mr-2"></i>Uploading ...</div>
            <input *ngIf="image.status == 2" type="text" class="form-control" [disabled]="image.status != 2" [(ngModel)]="image.url">
            <div *ngIf="image.status == 3" class="alert alert-danger w-100 py-2 mb-0" role="alert">Failed to upload.</div>
          </div>
          <button type="button" class="btn btn-primary btn-block mt-2" [disabled]="image.status != 2" (click)="onCopyClicked(image.url)">Copy image url</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="uploader" class="fixed-bottom" style="height: 100vh;">
  <div class="h-100 pointer" style="width: 100%; margin-top: 70px;" (click)="fileSelect.click()">
    <div class="mx-4 text-center" style="height:90vh;" [ngClass]="{'dotted-border': dragOver}" (drop)="onImagesDropped($event)" (dragover)="onDragOver($event)"
      (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
      <div *ngIf="!dragOver" style="top: 40%; left: 0; right: 0; position: absolute; z-index: -1;">
        <img src="{{plusImage}}" height="100px" width="100px">
        <p class="display-4" style="font-size: 2rem;">Click anywhere or drop images here to upload them.</p>
      </div>
      <div *ngIf="dragOver" style="top: 50%; left: 0; right: 0; position: absolute; z-index: -1;">
        <p class="display-4" style="font-size: 2rem;">Drop images to upload them.</p>
      </div>
    </div>
    
    <input type="file" class="d-none" multiple="multiple" #fileSelect (change)="onImagesSelected($event)">
  </div>
</div>

<div *ngIf="loadingImages" class="container">
  <div class="row my-5">
    <div class="col text-center my-5">
      <i class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="!uploader" class="container">
  <div class="row">
    <div class="col mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Url</th>
            <th scope="col">Time uploaded</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of imageSavedList;">
            <th scope="row"> {{ image.id }} </th>
            <th scope="row"> {{ image.url }} </th>
            <td> {{ utils.getCreatedTime(image.created) }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>